[Unit]
Description=SilverBank Spring Boot Application
After=network.target

[Service]
User=silverbank
WorkingDirectory=/home/silverbank/app/backend/build/libs
ExecStart=/usr/bin/java -jar /home/silverbank/app/backend/build/libs/silver-0.0.1-SNAPSHOT.jar --spring.profiles.active=prod
SuccessExitStatus=143
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
